html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* ---------- GLOBAL STYLES ---------- */
*,
p, 
h1,
h2, 
h3,
a {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
	max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/* global font styling */
body,
input {
    font-family: 'Catamaran', sans-serif;
    font-size: 2rem;
    color: #1F2022;
}

h1,
h2,
h3 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}

h1 {
    font-size: 13rem;
    margin-top: 30vh;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 20px;
}

p {
    line-height: 2.9rem;
    font-weight: 400;
}

a {
    line-height: 2.9rem;
}

/* global nav styling */
    /* NOTE to reviewer: one of the 'designers/instructors' informed me that using display inline-block for my navs was fine & I wouldn't lose any points as long as I was using floats for other sections of the site - so I hope this is okay :) */
nav {
    color: white;
    text-align: center;
}

li {
    display: inline-block;
    margin: 0 20px;
} 

nav li:nth-of-type(1) {
    margin-left: 0;
}

nav li:nth-of-type(4) {
    margin-right: 0;
}

nav a:hover,
nav a:focus {
    border-bottom: 2px solid #F2A11C;
}

/* global 'button' styling (anchor tags styled like buttons) */
.read-more {
    display: inline-block;
    background-color: #1F2022;
    color: #F2A11c;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    border: 2px solid #1F2022;
    margin-top: 20px;
    padding: 12px 25px;
}

.read-more:hover,
.read-more:focus {
    border-color: #F2A11c;
}

/* ---------- SECTION: HEADER ---------- */
header {
    background-image: url(./biker-land-assets/image-1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    color: #F2A11C;
    padding: 40px 20px;
}

/* hamburger menu styling */
i.fa-bars,
input[type=checkbox] {
    display: none;
    position: fixed;
    right: 30px;
    top: 20px;
    z-index: 10;
    text-shadow: 0px 3px 5px #1f2022;
    color: white;
    font-size: 5rem;
    border-radius: 5px;
    padding: 0 3px;
    cursor: pointer;
}

.header-menu-social-icons {
    display: none;
}

/* social icons styling */
.social-icons {
    position: relative;
    bottom: 165px;
    left: 20px;
    width: 40px;
    font-size: 2.5rem;
    margin: 0 0 0 auto;
}

.social-icons li {
    display: block;
    margin: 12px 0;
}

.social-icons a:hover,
.social-icons a:focus {
    color: white
}

/* ---------- SECTION: ABOUT US ---------- */
.about-us {
    background-color: #F4F4F4;
}

.top-row {
    float: right;
}

.bottom-row {
    float: left;
}

.top-row,
.bottom-row {
    width: 50%;
    height: 40vw;
    position: relative;
}

.top-image {
    background-image: url(./biker-land-assets/image-2.jpg);
}

.bottom-image {
    background-image: url(./biker-land-assets/image-7.jpg);
}

.top-image,
.bottom-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-text {
    padding-right: 60px;
}

.bottom-text {
    padding-left: 60px;
}

.top-text,
.bottom-text {
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    margin: auto;
    height: 300px;
}

/* ---------- SECTION: MEET ALISSA ---------- */
.meet-alissa {
    padding: 100px 0;
}

.image-container {
    float: left;
    width: calc((100% - 40px) / 3);
    margin-right: 40px;
}

.text-container {
    float: left;
    width: calc(((100% - 40px) / 3) * 2);
}

/* ---------- SECTION: ICONS ---------- */
.icons {
    background-image: url(./biker-land-assets/image-5.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 375px;
    padding-top: 145px;
}

.site-icons a {
    color: #FFF;
    font-size: 3rem;
}

.site-icons i {
    font-size: 4rem;
}

.site-icons p {
    color: #F2A11c;
    font-weight: 700;
    font-size: 2.3rem;
    margin-top: 10px;
}

.site-icons a:hover p,
.site-icons a:focus p {
    color: #FFF;
}

.site-icons li:nth-of-type(2) {
    margin: 0 40px;
}

/* ---------- SECTION: THE GRAM ---------- */
.the-gram {
    padding: 100px 0;
    background-color: #F4F4F4;
}

.the-gram h2 {
    text-align: center;
    margin-bottom: 70px;
}

.the-gram li {
    float: left;
    margin: 0 30px 0 0;
    width: calc((100% - 60px) / 3);
}

.the-gram li:nth-child(3n) {
    margin-right: 0px;
}

/* ---------- SECTION: FOOTER ---------- */
.contact {
    background-color: #1F2022;
    color: #FFF;
    padding: 100px 0;
}

.footer-container div {
    float: left;
    width: 50%;
}

h3 {
    color: #F2A11c;
    margin: 40px 0 15px 0;
}

/* form styling */
label {
    font-size: 1.7rem;
}

form input {
    float: left;
    font-size: 1.5rem;
    height: 40px;
}

input[type=submit] {
    cursor: pointer;
    width: 25%;
    text-transform: uppercase;
    font-weight: 700;
    color: #1f2022;
    background-color: #F2A11C;
    border: #F2A11C;
    margin-top: 15px;
    padding: 7px 10px;
}

input[type=email] {
    width: 75%;
    border: none;
    padding: 7px 25px;
    margin-top: 15px;
}

input[type=email]::placeholder {
    font-size: 1.5rem;
    color: #1F2022;
    opacity: 0.9;
}

/* copyright styling */
.copyright p {
    height: 45px;
    background-color: #000000;
    color: rgb(244, 244, 244, 0.5);
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
}

.copyright a {
    font-style: italic;
}

/* ------------------- MEDIA QUERIES ------------------- */
/* MAJOR BREAKPOINT 1: small desktop & portrait tablet */
@media (max-width: 940px) {
    /* SECTION: about us */
    .top-row,
    .bottom-row {
        float: none;
        width: 100%;
    }

    .top-image,
    .bottom-image {
        height: 33vh;
    }

    .top-text,
    .bottom-text {
        text-align: center;
        padding: 0;
        height: 240px;
    }

    .top-text-container,
    .bottom-text-container {
        height: 66vh;
    }

    /* SECTION: footer */
    form input {
        float: none;
    }

    input[type=email]::placeholder {
        text-align: center;
    }

    input[type=submit] {
        margin-top: 10px;
    }

    input[type=email],
    input[type=submit] {
        width: 100%;
    }
}

/* MAJOR BREAKPOINT 2: portrait tablet & landscape phone */
@media (max-width: 768px) {
    /* SECTION: header */
    header {
        background-image: url(./biker-land-assets/image-1-mobile.jpg);
    }

    h1 {
        font-size: 9.5rem;
        margin-top: 35vh;
    }

    .social-icons {
        display: none;
    }

    i.fa-bars {
        display: inherit;
    }

    .header-menu {
        position: fixed;
        z-index: 10;
        background-color: rgb(244, 244, 244, 0.9);
        height: 100vh;
        width: 33vw;
        top: 0;
        left: -33vw;
        transition: all 0.5s ease;color: black;
    }

    .header-menu li,
    .header-menu-social-icons {
        display: block;
        border-bottom: 2px solid #1F2022;
        margin: 0;
        padding: 20px 0;
    }

    .header-menu li:last-of-type {
        border-bottom: none;
        font-family: 'Pacifico', cursive;
        padding-top: 42px;
    }

    input[type=checkbox]:checked + .header-menu {
        left: 0;
    }

    .header-menu li:focus-within a,
    .header-menu a:hover,
    .header-menu a:active {
        color: #F2A11C;
        border-bottom: none;
    }

    /* SECTION: about us */
    .top-image,
    .bottom-image {
        height: 33vh;
    }

    .read-more:active {
        border-color: #F2A11c;
    }

    /* SECTION: meet alissa */
    .meet-alissa {
        padding: 80px 0;
    }

    .text-container {
        margin-top: 60px;
        text-align: center;
    }

    .image-container,
    .text-container {
        float: none;
        width: 100%;
        margin-right: 0;
    }

    .text-container p {
        text-align: left;
    }

    .text-container .read-more {
        padding: 12px 45px;
    }

    /* SECTION: products */
    .site-icons a:active p {
        color: #FFF;
    }

    /* SECTION: the gram */
    .the-gram {
        padding: 80px 0;
    }

    .the-gram h2 {
        margin-bottom: 50px;
    }

    .the-gram li {
        margin-right: 20px;
        width: calc((100% - 20px) / 2);
    }

    .the-gram li:nth-child(2n) {
        margin-right: 0;
    }

    .the-gram li:nth-child(3n) {
        display: none;
    }

    /* SECTION: footer */
    .contact {
        text-align: center;
        padding: 80px 0;
    }

    .footer-container div {
        float: none;
        width: 100%;
    }

    .footer-container div:first-child {
        margin-bottom: 40px;
    }
}

/* Minor Breakpoint 1: to aid in a more fluid & responsive design */
@media (max-width: 506px) {
    /* SECTION: about us */
    .top-text,
    .bottom-text {
        height: 285px;
    }

    /* SECTION: icons */
    .icons{
        background-position: 70% 0%;
        height: 500px;
        padding: 62px 0;
    }

    .site-icons li {
        display: block;
    }

    .site-icons li p {
        margin-top: 20px;
    }

    .site-icons li:nth-of-type(2) {
        margin: 50px 0;
    }
}

/* MAJOR BREAKPOINT 3: landscape phone & down */
@media (max-width: 480px) {
    /* SECTION: header */
    h1 {
        font-size: 7.5rem;
        margin-top: 37vh; 
    }

    /* SECTION: about us */
    .top-image,
    .bottom-image {
        height: 26vh;
    }

    .top-text-container,
    .bottom-text-container {
        padding: 50px 0;
    }

    /* SECTION: meet alissa */
    .meet-alissa {
        padding: 50px 0;
    }

    /* SECTION: the gram */
    .the-gram {
        padding: 50px 0;
    }

    /* SECTION: footer */
    label {
        font-size: 1.5rem;
    }

    .contact {
        padding: 50px 0;
    }

    .contact li {
        margin: 0 16px; 
    }
}

/* Minor Breakpoint 2: very small phones */
@media (max-width: 416px) {
    /* SECTION: header */
    h1 {
        font-size: 6rem;
        margin-top: 40vh; 
    }

    /* SECTION: about us */
    .top-text,
    .bottom-text {
        height: 325px;
    }

    /* SECTION: footer */
    footer li {
        font-size: 1.7rem;
    }
}